// Fonts
$roboto: 'Roboto', arial, sans-serif;

// Colors (Global)
$black: #000000;
$white: #ffffff;

// Colors (Brand)
$reece-blue: #003057;

// Colors (Accent)
$chrome: #ededed;
$steel-cap: #808285;
$tradie: #575756;
$true-blue: #6fb1c8;

// Colors (Business)
$bath: #547390;
$hvac: #0092ce;
$plumbing: #e03830;
$waterworks: #b8552a;

// Colors (Theme)
$alto: #d9d9d9;
$concrete: #f2f2f2;
$cornflower: #0b66ec;
$hawkes: #cee0fb;
$punch: #db4531;
$scorpion: #606060;
$tundora: #4d4d4d;

// Breakpoints
$small: 576px;
$medium: 960px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1576px;
$transition-time: 250ms;
