@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

.footer,
.header {
    align-items: center;
    background: #a9a9a9;
    color: #000000;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    justify-content: center;
    padding: 0.5rem;
}

.footer {
    min-height: 1px;
}

.header {
    min-height: 52px;
}

@media screen and (min-width: 960px) {
    footer {
        min-height: 1px;
    }

    header {
        min-height: 213px;
    }
}

.masthead:after,
.masthead__image img,
.spotlight__card--shade .spotlight__content:after,
.spotlight__image,
.video__modal .modal-content iframe,
.video__thumbnail:after {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.brands .container,
.content .container,
.divisions .container,
.masthead .container,
.phone .container,
.video .container {
    --bs-gutter-x: 4.5rem;
}
@media screen and (min-width: 75rem) {
    .brands .container,
    .content .container,
    .divisions .container,
    .masthead .container,
    .phone .container,
    .video .container {
        --bs-gutter-x: 13.5rem;
    }
}
.btn {
    --bs-border-radius: 0.5rem;
    --bs-btn-padding-x: 2rem;
    border: 2px solid transparent;
}
.btn--dark,
.btn--dark:link,
.btn--dark:visited {
    background: #003057;
    color: #fff;
}
.btn--dark:active,
.btn--dark:focus,
.btn--dark:hover {
    background: #0b66ec;
    color: #fff;
}
.btn--light,
.btn--light:link,
.btn--light:visited {
    background: #fff;
    color: #003057;
}
.btn--light:active,
.btn--light:focus,
.btn--light:hover {
    background: #cee0fb;
    color: #003057;
}
.news-card {
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    margin-top: var(--bs-gutter-x);
}
.news-card a {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.news-card a:link,
.news-card a:visited {
    color: #0b66ec;
    text-decoration: underline;
}
.news-card a:active,
.news-card a:focus,
.news-card a:hover {
    color: #003057;
    text-decoration: underline;
}
.news-card p.fs-5 {
    color: #606060;
    font-weight: 700;
}
.news-card__content {
    background-color: #f2f2f2;
    height: 100%;
    padding: 1.5rem 2rem;
    position: relative;
}
.news-card__tag {
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3333;
    min-width: 128px;
    position: absolute;
    right: 0;
    text-align: center;
}
.news-card__tag--bath {
    background-color: #547390;
}
.news-card__tag--hvac {
    background-color: #0092ce;
}
.news-card__tag--plumbing {
    background-color: #e03830;
}
.news-card__tag--reece {
    background-color: #003057;
}
.news-card__tag--waterworks {
    background-color: #b8552a;
}
.news-nav .dropdown {
    background-color: #4d4d4d;
    font-family: Roboto, arial, sans-serif;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}
.news-nav .dropdown-toggle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    background: transparent;
    border: 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-size: 1.375rem;
    justify-content: space-between;
    line-height: 1.1;
    padding: 0 0.5rem;
    width: 100%;
}
.news-nav .dropdown-toggle svg {
    fill: currentcolor;
    height: 1rem;
    margin-left: 1.5rem;
    width: 1.125rem;
}
.news-nav .dropdown-toggle:after {
    display: none;
}
.news-nav .dropdown-toggle[aria-expanded="true"] svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.news-nav .dropdown-menu {
    border-radius: 0;
    padding: 0;
}
.news-nav .dropdown-item {
    color: #003057;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
.news-nav .dropdown-item:active,
.news-nav .dropdown-item:focus,
.news-nav .dropdown-item:hover {
    background-color: rgba(11, 102, 236, 0.1);
}
.news-nav__social {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0.75rem;
    padding-left: 0;
    padding-top: 0.75rem;
    text-align: right;
}
.news-nav__social li {
    margin-left: 0.75rem;
}
.news-nav__social a {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.news-nav__social a:link,
.news-nav__social a:visited {
    color: #003057;
    text-decoration: none;
}
.news-nav__social a:active,
.news-nav__social a:focus,
.news-nav__social a:hover {
    color: #0b66ec;
    text-decoration: none;
}
.news-nav__social svg {
    fill: currentcolor;
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (min-width: 36rem) {
    .news-nav {
        background: #4d4d4d;
    }
    .news-nav .row {
        margin-left: 0;
        margin-right: 0;
    }
    .news-nav .dropdown-toggle {
        width: auto;
    }
    .news-nav__social a:link,
    .news-nav__social a:visited {
        color: #fff;
    }
    .news-nav__social a:active,
    .news-nav__social a:focus,
    .news-nav__social a:hover {
        color: #cee0fb;
    }
}
.pagination {
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 2.5rem;
}
.pagination .row {
    margin: 0;
    position: relative;
    width: 100%;
}
.pagination a {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.pagination a:link,
.pagination a:visited {
    color: #003057;
    text-decoration: none;
}
.pagination a:active,
.pagination a:focus,
.pagination a:hover {
    color: #0b66ec;
    text-decoration: underline;
}
.pagination a:active[rel],
.pagination a:focus[rel],
.pagination a:hover[rel] {
    text-decoration: none;
}
.pagination svg {
    fill: currentcolor;
    height: 1rem;
    position: relative;
    top: -0.125rem;
    width: 1rem;
}
.pagination__links {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-weight: 700;
    gap: 24px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pagination__count {
    display: none;
}
@media screen and (min-width: 60rem) {
    .pagination__count {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}
.sign-in {
    --bs-border-radius: 16px;
    background-color: #fff;
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    margin: 0 auto;
    max-width: 33.75rem;
    padding: 2.5rem 2.25rem;
}
.sign-in a {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.sign-in a:link,
.sign-in a:visited {
    color: #0b66ec;
    text-decoration: none;
}
.sign-in a:active,
.sign-in a:focus,
.sign-in a:hover {
    color: #003057;
    text-decoration: none;
}
.sign-in__form a {
    font-size: 0.75rem;
}
.sign-in__form label {
    display: block;
    line-height: 1.4;
    margin-top: 1rem;
}
.sign-in__form input[type="email"],
.sign-in__form input[type="password"],
.sign-in__form input[type="text"] {
    border: 1px solid #003057;
    border-radius: 4px;
    display: block;
    padding: 0.5rem 0.625rem;
    width: 100%;
}
.sign-in__form input[type="email"]:focus,
.sign-in__form input[type="password"]:focus,
.sign-in__form input[type="text"]:focus {
    background-color: #cee0fb;
}
.sign-in__form input[type="email"]:placeholder,
.sign-in__form input[type="password"]:placeholder,
.sign-in__form input[type="text"]:placeholder {
    color: #606060;
}
.sign-in__controls {
    margin-top: 1rem;
    text-align: right;
}
.sign-in__controls a,
.sign-in__controls button {
    margin-left: 1rem;
}
.sign-in__register {
    border-top: 1px solid #606060;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
@media screen and (min-width: 60rem) {
    .sign-in {
        bottom: 2.8125rem;
        left: 50%;
        padding: 1rem 1rem 0;
        position: absolute;
        -webkit-transform: translateX(-345px);
        transform: translateX(-345px);
        width: 18.75rem;
        z-index: 20;
    }
}
@media screen and (min-width: 62rem) {
    .sign-in {
        -webkit-transform: translateX(-465px);
        transform: translateX(-465px);
    }
}
@media screen and (min-width: 75rem) {
    .sign-in {
        -webkit-transform: translateX(-515px);
        transform: translateX(-515px);
    }
}
@media screen and (min-width: 87.5rem) {
    .sign-in {
        -webkit-transform: translateX(-600px);
        transform: translateX(-600px);
    }
}
.article-nav {
    background-color: #f2f2f2;
    font-family: Roboto, arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}
.article-nav a {
    font-weight: 700;
}
.article-nav a:link,
.article-nav a:visited {
    color: #003057;
    text-decoration: none;
}
.article-nav a:active,
.article-nav a:focus,
.article-nav a:hover {
    color: #0b66ec;
    text-decoration: none;
}
.article-nav svg {
    fill: currentcolor;
    position: relative;
}
.article-nav__links {
    list-style-type: none;
    margin-bottom: 0;
    position: relative;
    top: 0.125rem;
}
.article-nav__links .icon--chevron-left {
    height: 1rem;
    margin-right: 1ch;
    top: -0.125rem;
    width: 1rem;
}
.article-nav__social {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    text-align: right;
}
.article-nav__social li {
    margin-left: 0.75rem;
}
.article-nav__social svg {
    height: 1.5rem;
    width: 1.5rem;
}
@media screen and (min-width: 60rem) {
    .article-nav {
        background-color: transparent;
        line-height: 1.4;
        padding-bottom: 6.25rem;
        padding-top: 5rem;
    }
    .article-nav__social svg {
        height: 1.75rem;
        width: 1.75rem;
    }
}
.brands {
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.brands__tabs {
    overflow-x: auto;
    position: relative;
    width: 100%;
}
.brands .nav-tabs {
    border-bottom: 5px solid #d9d9d9;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.brands .nav-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}
.brands .nav-link {
    border-width: 1px 0 5px;
    color: #003057;
    margin-bottom: -0.3125rem;
    padding: 0.5rem 1rem 1rem;
    width: 100%;
}
.brands .nav-link:hover {
    border-color: transparent transparent #606060;
}
.brands .nav-link.active {
    border-color: transparent;
    color: #003057;
    font-weight: 700;
    padding: 0 1rem 1.5rem;
}
.brands .nav-link.active[id*="plumbing"] {
    border-bottom-color: #e03830;
}
.brands .nav-link.active[id*="hvac"] {
    border-bottom-color: #0092ce;
}
.brands .nav-link.active[id*="waterworks"] {
    border-bottom-color: #b8552a;
}
.brands .nav-link.active[id*="bath"] {
    border-bottom-color: #547390;
}
.brands .tab-pane a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    font-weight: 700;
    justify-content: flex-start;
    margin-top: 1.5rem;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.brands .tab-pane a:link,
.brands .tab-pane a:visited {
    color: #0b66ec;
    text-decoration: underline;
}
.brands .tab-pane a:active,
.brands .tab-pane a:focus,
.brands .tab-pane a:hover {
    color: #003057;
    text-decoration: underline;
}
.brands .tab-pane img {
    margin-bottom: auto;
    margin-top: auto;
}
.brands .tab-pane .row {
    margin-left: 0;
    margin-right: 0;
}
.brands .tab-pane span {
    margin-top: 1rem;
}
.brands .carouselinner {
    z-index: 10;
}
.brands .carousel-control-next,
.brands .carousel-control-prev {
    color: #003057;
    opacity: 1;
    width: 1.5rem;
    z-index: 20;
}
.brands .carousel-control-next svg,
.brands .carousel-control-prev svg {
    fill: currentcolor;
    height: 1.5rem;
    width: 1.5rem;
}
.brands .carousel-control-prev {
    left: auto;
    right: calc(100% + 8px);
}
.brands .carousel-control-next {
    left: calc(100% + 0.5rem);
    right: auto;
}
@media screen and (min-width: 36rem) {
    .brands .carousel-control-prev {
        right: calc(100% + 16px);
    }
    .brands .carousel-control-next {
        left: calc(100% + 1rem);
    }
}
@media screen and (min-width: 60rem) {
    .brands {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
}
.content {
    --bs-border-radius: 16px;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.content a {
    font-weight: 700;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.content a:link,
.content a:visited {
    color: #0b66ec;
    text-decoration: none;
}
.content a:active,
.content a:focus,
.content a:hover {
    color: #0b66ec;
    text-decoration: underline;
}
.content__main {
    color: #003057;
}
.content__main h2.fs-4 {
    font-weight: 400;
}
.content__main p.fs-5 {
    color: #606060;
    font-weight: 700;
}
.content__sidebar {
    color: #606060;
}
.content__sidebar img.img-fluid {
    width: 100%;
}
.content--dark {
    background-color: #f2f2f2;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
@media screen and (min-width: 60rem) {
    .content {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
    .content:last-child {
        margin-bottom: 5.625rem;
        margin-top: 5.625rem;
    }
    .content--dark {
        background-color: #f2f2f2;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 3.75rem;
        padding-top: 3.75rem;
    }
    .content--dark:last-child {
        padding-bottom: 5.625rem;
        padding-top: 5.625rem;
    }
}
.divisions {
    --bs-border-radius: 16px;
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.divisions .row {
    --bs-gutter-x: 15px;
    margin-top: 2.5rem;
}
.divisions .img-fluid {
    width: 100%;
}
.divisions__card {
    margin-top: var(--bs-gutter-x);
}
.divisions__content {
    background-color: #003057;
    color: #fff;
    height: 100%;
    overflow: hidden;
}
.divisions__content,
.divisions__copy {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-content: space-between;
}
.divisions__copy {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1.5rem;
}
.divisions__copy a {
    margin-top: auto;
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}
.divisions__copy a:link,
.divisions__copy a:visited {
    color: #fff;
}
.divisions__copy a:active,
.divisions__copy a:focus,
.divisions__copy a:hover {
    color: #cee0fb;
}
@media screen and (min-width: 60rem) {
    .divisions {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
}
.homecarousel,
.homecarousel .carousel {
    position: relative;
}
.homecarousel .masthead .container {
    --bs-gutter-x: 4.5rem;
}
.homecarousel__controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #000;
    bottom: 2.5rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-family: Roboto, arial, sans-serif;
    justify-content: center;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
    right: 28px;
    z-index: 10;
}
.homecarousel__controls span {
    padding: 0 0.5rem;
    position: relative;
    top: 0.0625rem;
}
.homecarousel__controls svg {
    fill: currentcolor;
    height: 1rem;
    width: 1.125rem;
}
.homecarousel__controls .carousel-control-next,
.homecarousel__controls .carousel-control-prev {
    opacity: 1;
    position: static;
}
@media screen and (min-width: 36rem) {
    .homecarousel__controls {
        right: 11.5%;
    }
}
@media screen and (min-width: 60rem) {
    .homecarousel .masthead__content {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    .homecarousel__controls {
        bottom: 3.75rem;
    }
}
@media screen and (min-width: 75rem) {
    .homecarousel .masthead .container {
        --bs-gutter-x: 7rem;
    }
    .homecarousel .masthead__content {
        -webkit-transform: translateX(66.6666%);
        transform: translateX(66.6666%);
    }
}
@media screen and (min-width: 98.5rem) {
    .homecarousel__controls {
        right: 50%;
        -webkit-transform: translateX(610px);
        transform: translateX(610px);
    }
}
.masthead {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-content: flex-end;
    min-height: 330px;
    overflow: hidden;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    position: relative;
}
.masthead .container {
    color: #fff;
    font-family: Roboto, arial, sans-serif;
    position: relative;
    z-index: 5;
}
.masthead__content h1 {
    font-size: 2.5rem;
}
.masthead__image img {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}
.masthead:after {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8));
    content: "";
    display: block;
    z-index: 2;
}
@media screen and (min-width: 60rem) {
    .masthead {
        min-height: 500px;
        padding-bottom: 3.75rem;
        padding-top: 3.75rem;
    }
    .masthead__content h1 {
        font-size: 3.05188rem;
    }
}
.news-results {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.news-results__items {
    --bs-gutter-x: 15px;
}
@media screen and (min-width: 60rem) {
    .news-results {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
}
@media screen and (min-width: 75rem) {
    .news-results .container {
        --bs-gutter-x: 13.5rem;
    }
}
.phone {
    background-color: #f2f2f2;
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.phone__image {
    margin-top: 2.5rem;
    position: relative;
    z-index: 10;
}
.phone__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.phone__item {
    margin-top: 2rem;
    padding-left: 5.75rem;
    position: relative;
    z-index: 5;
}
.phone__item img {
    border-radius: 50%;
    height: 4.5rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: background 0.25s ease;
    transition: background 0.25s ease;
    width: 4.5rem;
}
.phone__item:first-child {
    margin-top: 0;
}
.phone__item--active img,
.phone__item:hover img {
    background-color: #cee0fb;
}
@media screen and (min-width: 60rem) {
    .phone {
        padding-bottom: 3.75rem;
        padding-top: 3.75rem;
    }
    .phone__item--active:before,
    .phone__item:hover:before {
        background: #003057;
        content: "";
        display: block;
        height: 0.1875rem;
        position: absolute;
        right: calc(100% + 32px);
        top: 2.15625rem;
        width: 6.25rem;
    }
    .phone__item--active:after,
    .phone__item:hover:after {
        border: 3px solid #003057;
        border-radius: 50%;
        content: "";
        display: block;
        height: 0.8125rem;
        position: absolute;
        right: calc(100% + 22px);
        top: 1.84375rem;
        width: 0.8125rem;
    }
}
.spotlight {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.spotlight .row {
    --bs-gutter-x: 15px;
}
.spotlight__card {
    margin-top: var(--bs-gutter-x);
    min-height: 291px;
}
.spotlight__card--logo .spotlight__image {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom right;
    object-position: bottom right;
}
.spotlight__card--shade .spotlight__content:after {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8));
    content: "";
    display: block;
    z-index: 2;
}
.spotlight__content {
    background: #003057;
    height: 100%;
    overflow: hidden;
}
.spotlight__content,
.spotlight__copy {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}
.spotlight__copy {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    color: #fff;
    flex-grow: 1;
    font-family: Roboto, arial, sans-serif;
    padding: 1.5rem;
    z-index: 5;
}
.spotlight__copy h2 {
    font-size: 2.4375rem;
}
.spotlight__copy p {
    font-size: 1.25rem;
}
.spotlight__copy span {
    color: #6fb1c8;
    display: block;
}
.spotlight__copy .btn {
    margin-top: auto;
}
.spotlight__image {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}
@media screen and (min-width: 60rem) {
    .spotlight {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
}
@media screen and (min-width: 75rem) {
    .spotlight .container {
        --bs-gutter-x: 7rem;
    }
}
.video {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.video__thumbnail {
    --bs-border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.video__thumbnail button {
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    color: #003057;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
}
.video__thumbnail button:focus,
.video__thumbnail button:hover {
    background-color: #cee0fb;
}
.video__thumbnail img {
    position: relative;
    width: 100%;
    z-index: 2;
}
.video__thumbnail svg {
    color: currentcolor;
    height: 1.5rem;
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
    width: 1.5rem;
}
.video__thumbnail:after {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.8));
    content: "";
    display: block;
    z-index: 2;
}
.video__content {
    color: #003057;
    font-family: Roboto, arial, sans-serif;
    padding-top: 1rem;
}
.video__content h2 {
    font-size: 2.4375rem;
}
.video__content p {
    font-size: 1.25rem;
}
.video__modal {
    --bs-modal-width: 50%;
}
.video__modal .modal-content {
    aspect-ratio: 16/9;
    background: transparent;
    border: 0;
    max-width: 80rem;
    position: relative;
}
.video__modal .modal-content button {
    background: transparent;
    border: 0;
    bottom: 100%;
    color: #fff;
    padding: 0.25rem;
    position: absolute;
    right: 0;
}
.video__modal .modal-content button svg {
    fill: currentcolor;
    height: 1.5rem;
    width: 1.5rem;
}
.video__modal .modal-content button:active,
.video__modal .modal-content button:focus,
.video__modal .modal-content button:hover {
    color: #cee0fb;
}
@media screen and (min-width: 60rem) {
    .video {
        margin-bottom: 3.75rem;
        margin-top: 3.75rem;
    }
}
@media screen and (min-width: 75rem) {
    .video .container {
        --bs-gutter-x: 7rem;
    }
}
