.phone {

	// Local Variables
	$this: &;

	// Styles
	@extend %component;
	background-color: $concrete;
	color: $reece-blue;
	font-family: $roboto;
	padding-bottom: 40px;
	padding-top: 40px;

	&__image {
		margin-top: 40px;
		position: relative;
		z-index: 10;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		margin-top: 32px;
		padding-left: 92px;
		position: relative;
		z-index: 5;

		img {
			border-radius: 50%;
			height: 72px;
			left: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			transition: $transition-time background ease;
			width: 72px;
		}

		&:first-child {
			margin-top: 0;
		}

		&:hover,
		&--active {
			img {
				background-color: $hawkes;
			}
		}
	}


	@media screen and (min-width: $medium) {
		padding-bottom: 60px;
		padding-top: 60px;

		&__item {
			&:hover,
			&--active {
				&:before {
					background: $reece-blue;
					content: '';
					display: block;
					height: 3px;
					position: absolute;
					right: calc(100% + 32px);
					top: 34.5px;
					width: 100px;
				}

				&:after {
					border: 3px solid $reece-blue;
					border-radius: 50%;
					content: '';
					display: block;
					height: 13px;
					position: absolute;
					right: calc(100% + 22px);
					top: 29.5px;
					width: 13px;
				}
			}
		}
	}
}
